{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block content %}
<p>A Blog Post by {{post.user.username}} on {{post.posted.strftime('%d-%m-%Y')}}</p>
<h2>{{post.title}}</h2>
<p>{{post.post}}</p>

{% if post.user == current_user %}
<a href="{{ url_for('main.update_blog', id=post.id) }}">Update</a>
<a href="{{ url_for('main.delete_blog', id=post.id) }}">Delete</a>
{% endif %}
<a href="{{ url_for('main.new_comment', id=post.id) }}">Comment</a>

<h2>Comments</h2>
{{macro.display_comments(comments)}}
{% endblock %}