{% macro display_quotes(quotes)%}
<div class="jumbotron">
    <h1 class="text-header">Random Quote</h1>
    <p class="text">{{quotes.quote}}</p>
    <p>~ <span class="highlight">{{quotes.author}}</span></p>
</div>
{% endmacro %}


{% macro display_posts(posts)%}
{% for post in posts%}
<div class="posts">
    <h2> <span class="highlight">{{post.title}}</span></h2>
    <p>{{post.post}}</p>
    <p>Posted on ~ {{post.posted.strftime('%d-%m-%Y')}}</p>
    <a class="btn btn-info" href="/blog/{{post.id}}">See More</a>
</div>
    
{% endfor%}
{% endmacro %}


{% macro display_comments(comments) %}
{% for comment in comments %}
<div class="posts">
    <p>A comment from  <span class="name">{{ comment.user.username }}</span></p>
    <p>{{comment.comment}}</p>
</div>
    
{% endfor%}
{% endmacro %}